/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
    display: block;
}

body, html {
    line-height: 1;
    overflow: hidden;
    height: 100%;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: white;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


/* Fontes */

/* JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@100..800&display=swap');

/* Meu CSS */

/* Corpo */
body {
    font-family: "JetBrains Mono", serif;
    font-size: 12px;
    font-style: normal;
    background-color: #000;
    color: white;
}

/* Personalizando a barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

/* Cor de fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: transparent; /* Fundo da trilha da barra */
}

/* Cor e arredondamento da "alavanca" da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #fff; /* Cor branca para a alavanca */
    border-radius: 10px; /* Arredondamento da alavanca */
    border: 3px solid transparent; /* Borda transparente para dar um efeito de "flutuação" */
    background-clip: content-box; /* Faz a borda ficar visível */
}

/* Efeito de hover na alavanca */
::-webkit-scrollbar-thumb:hover {
    background-color: #00e1ff; /* Cor azul claro quando passar o mouse */
}

#main-content {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 100%; /* O main-content vai ocupar toda a altura da tela */
    overflow-y: auto; /* Habilita o scroll vertical */
    scroll-snap-type: y mandatory; /* Aplica o scroll-snap no eixo Y */
    scroll-behavior: smooth; /* Efeito de rolagem suave */
}

/* Seções com snap */
section {
    scroll-snap-align: start; /* Faz com que o scroll 'fixe' no topo da seção */
    width: 100vw;
    min-height: 100vh; /* Garante que cada seção ocupe ao menos a tela inteira */
}

/* Seção principal */
.hero-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}


/* Vídeo de fundo */
.hero-section video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.margin{
	margin-bottom: -10%;
}

.flex{
	display: flex;
	flex-direction: column;
}

/* Conteúdo principal */
.hero-content {
    position: relative;
    z-index: 1; /* Garante que o texto fique acima do vídeo */
    text-align: center;
    color: #fff;
}

/* Otimização do video */
.hero-section video {
    will-change: transform; /* Sugere ao navegador otimizar as animações */
    transform: translateZ(0); /* Força o navegador a renderizar em 3D */
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px #000;
}

.hero-content p {
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px #000;
}

/* Tratamento dos kanjis */
.hero-images {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: -30%;
}

.image-1 {
    width: 100px;
    margin-top: -500px;
    animation: shake 1s infinite;
}

.image-2 {
    width: 120px;
    margin-top: -750px;
    margin-right: -200px;
    animation: shake 1s infinite;
}

.image-3 {
    width: 60px;
    margin-top: -200px;
    animation: shake 1s infinite;
}

.image-4 {
    width: 80px;
    margin-top: -400px;
    animation: shake 1s infinite;
}

/* Animação dos kanjis */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Botões do github e linkedin */
.hero-buttons{
	display: flex;
	justify-content: space-between;
	margin-top: 200px;
}

.hero-buttons div{
	background-color: #000;
	display: flex;
	align-items: center;
	padding: 10px 30px;
	border: 1px solid #fff;
	border-radius: 5px;
	gap: 10px;
}

.hero-buttons div:hover{
	border: 1px solid #00e1ff;
	transform: scale(1.05);
}

.hero-buttons img{
	width: 25px;
}

.hero-buttons p{
	font-size: 1.2em;
}

.hero-section .scroll-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: white;
    animation: bounce 1.5s infinite;
    cursor: pointer;
    z-index: 10;
    margin-bottom: 2%;
}

/* Animação de "pulo" */
@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(10px);
    }
}

/* Ocultar a seta */
.scroll-indicator.hidden {
    display: none;
}

/* Seta de scroll */
.scroll-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: white;
    animation: bounce 1.5s infinite;
    cursor: pointer;
    z-index: 10;
}

/* Animação de "pulo" */
@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(10px);
    }
}

/* Ocultar a seta */
.scroll-indicator.hidden {
    display: none;
}

/* Seção sobre */

.about-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /*background: linear-gradient(to bottom,#000,#003b42);*/
    gap: 50px;
}

.about {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 25%;
}

.about-text {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: left;
}

.about-text div {
    width: 100%;
}

.about-text h2 {
    font-size: 2em;
    text-align: start;
    margin-bottom: 10px;
    margin-left: 5%;
}

.about-text p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 10px;
    text-align: justify;
    visibility: hidden;
    white-space: pre-wrap;
    overflow: hidden;
    min-height: 6em;
}

/* Animação de digitação */

.typing-text {
    visibility: hidden; /* Esconde o texto inicialmente */
    white-space: pre-wrap; /* Mantém quebras de linha */
    overflow: hidden; /* Garante que o texto "corte" durante a animação */
    animation: blink-cursor 0.6s steps(1) infinite;
}

/* Tecnologias */
.tech {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 50px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.tech h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px #000;
    text-align: center;
}

.tech-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.tech-item {
    position: relative;
    text-align: center;
}

.tech-list img {
    width: 50px;
    transition: transform 0.3s ease;
}

.tech-list img:hover {
    transform: scale(1.5);
}

.tech-item::after {
    content: attr(data-tech);
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tech-item:hover::after {
    opacity: 1;
}

/* Seção dos projetos */

.project-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-section h2{
    font-size: 3em;
    margin: 50px 0;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Cria colunas automáticas */
    gap: 30px;
    width: 100%;
    max-width: 1200px;
}

.project-item {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Garantir que o link cobre todo o item */
.project-info {
    padding: 15px;
    color: white;
}

.project-image {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: fill; /* Mantém o aspecto correto da imagem */
}


.project-info h4 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.project-info p {
    font-size: 1rem;
    color: #bbb;
}

/* Adicionando a lista de tecnologias */
.project-tech {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.project-tech img {
    width: 30px; /* Definido para 30px */
    height: 30px; /* Garantindo que a altura seja 30px */
    object-fit: contain; /* Ajuste a imagem para caber no quadrado */
    transition: transform 0.3s ease;
    margin: 10px 5px;
}

.project-tech img:hover {
    transform: scale(1.2); /* Mantém o efeito de hover */
}

/* Efeito de hover no item do projeto */
.project-item:hover {
    transform: scale(1.02); /* Aumenta o tamanho do item */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombra suave */
}

/* Estilo para os botões de Deploy e GitHub */
.project-buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    justify-content: center;
}

.button {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    max-width: 150px;
    transition: background-color 0.3s, transform 0.3s ease;
}

/* Botão Deploy */
.deploy {
    background-color: #00e1ff;
    border: 1px solid #00e1ff;
}

.deploy:hover {
    background-color: #00b3cc;
    transform: scale(1.05);
}

/* Botão GitHub */
.github {
    background-color: #333;
    border: 1px solid #fff;
}

.github:hover {
    background-color: #444;
    transform: scale(1.05);
}