/* Reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: white;
	text-decoration: none;
}

/* Google fonts */

/* JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* Meu CSS */

/* Corpo */

body {
	font-family: "JetBrains Mono", serif;
	font-size: 12px;
	font-style: normal;
	background-color: #073775;
	color: white;
}

.site {
	margin: 0 auto;
	max-width: 1200px;
}

/* Seção com vídeo de fundo */
.hero-section {
    position: relative;
    height: 100vh; /* Ocupa a altura total da janela */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Impede que o vídeo ultrapasse os limites da seção */
}

/* Estilo do vídeo de fundo */
.hero-section video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que o vídeo preencha toda a seção */
    transform: translate(-50%, -50%);
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
}

/* Conteúdo da seção */
.hero-section .hero-content {
    position: relative;
    z-index: 1; /* Mantém o texto acima do vídeo */
    text-align: center;
    color: white; /* Garante contraste */
    padding: 20px;
}

.hero-section .hero-content h1 {
    font-size: 2rem; /* Ajuste de tamanho para combinar com o restante do site */
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Contraste adicional para texto legível */
}

.hero-section .hero-content p {
    font-size: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
